<a href="https://colab.research.google.com/github/osirisizs/Proyecto-Ingenieria-de-Caracteristicas/blob/main/Estadistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importar Librerias

In [ ]:
from google.colab import files
import pandas as pd 
import numpy as np
import io
from matplotlib import pyplot as plt

In [ ]:
Uploaded = files.upload()

Saving Base_datos_1.csv to Base_datos_1 (1).csv
Saving col_mico.csv to col_mico (1).csv
Saving tabla_plantas.csv to tabla_plantas (1).csv

# Cargar archivos como Data Frames

In [51]:
BD = pd.read_csv(io.BytesIO(Uploaded['Base_datos_1.csv']))
col_mico = pd.read_csv(io.BytesIO(Uploaded['col_mico.csv']))
plantas = pd.read_csv(io.BytesIO(Uploaded['tabla_plantas.csv']))

# Estadística Descriptiva

In [ ]:
BD.describe()

,Replica,As,Ca,Cu,Fe,K,Mg,Mn,P,Pb,Zn,Biomasa
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,56.320000,6.862800,15324.000000,116.989800,5271.420000,17670.000000,4109.600000,81.868000,2205.000000,6.203000,47.734000,4.560618
std,32.947354,6.976002,5400.814753,158.277002,7465.992032,6736.839021,2971.131826,38.834192,853.138862,7.786812,38.341982,2.501604
min,2.000000,0.170000,6400.000000,4.550000,99.000000,10000.000000,980.000000,28.400000,900.000000,0.160000,10.500000,0.060000
25%,22.000000,0.955000,11425.000000,10.257500,490.000000,12325.000000,1932.500000,54.350000,1530.000000,0.660000,25.950000,3.515000
50%,68.000000,4.405000,14450.000000,46.650000,1940.000000,15250.000000,2700.000000,73.900000,2005.000000,1.865000,36.200000,4.555000
75%,81.000000,12.375000,18600.000000,153.875000,7530.000000,21050.000000,6007.500000,99.675000,2957.500000,10.325000,56.175000,5.787500
max,100.000000,30.000000,31100.000000,702.000000,36000.000000,33900.000000,11450.000000,190.500000,3940.000000,35.800000,208.000000,10.720000

In [ ]:
col_mico.describe()

,Replica,Hifa,Vesícula,Arbúsculo,Espora,Endófito,Campos,% total
count,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000
mean,51.782609,5.108696,0.282609,0.043478,8.000000,0.152174,70.500000,19.584696
std,30.976631,5.657751,0.860569,0.206185,9.677006,0.556473,6.476453,20.069770
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,57.000000,0.000000
25%,22.250000,1.000000,0.000000,0.000000,0.250000,0.000000,65.000000,3.612863
50%,50.000000,3.000000,0.000000,0.000000,3.500000,0.000000,70.000000,12.304734
75%,77.750000,8.000000,0.000000,0.000000,13.750000,0.000000,75.000000,31.130137
max,100.000000,27.000000,4.000000,1.000000,33.000000,3.000000,86.000000,72.463768

In [ ]:
plantas.describe()

,Réplica,Germinación,H1,H2,H3,H4,H5,H6,H7,H8,...,H11,H12,H13,H14,H15,Supervivencia,Fv_am,Pi_am,Fv_pm,Pi_pm
count,100.000000,100.000000,100.000000,99.000000,85.000000,76.000000,72.000000,72.000000,71.000000,70.000000,...,70.000000,70.000000,69.000000,69.000000,69.000000,100.000000,98.000000,98.000000,97.000000,97.000000
mean,50.500000,0.740000,4.930000,6.297980,7.805882,10.059211,12.090278,14.625000,17.070423,19.471429,...,26.085714,26.928571,27.644928,28.275362,29.420290,0.690000,0.519306,4.742510,0.373938,0.692113
std,29.011492,0.440844,3.030168,4.306449,5.797728,8.078765,10.022976,12.539164,14.861094,16.547228,...,19.618272,20.362527,20.445786,20.678658,21.208285,0.464823,0.361608,6.422323,0.311271,1.388134
min,1.000000,0.000000,0.000000,0.000000,2.000000,2.500000,2.500000,2.500000,2.500000,3.500000,...,3.500000,3.500000,4.000000,4.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25.750000,0.000000,3.000000,3.500000,4.000000,5.000000,6.000000,7.000000,7.500000,8.500000,...,11.500000,12.000000,12.000000,12.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,50.500000,1.000000,4.250000,5.500000,6.500000,7.000000,8.500000,9.500000,10.500000,11.000000,...,16.750000,16.000000,18.000000,19.000000,19.000000,1.000000,0.731500,2.189500,0.495000,0.088000
75%,75.250000,1.000000,6.000000,7.500000,8.500000,12.000000,14.875000,20.250000,26.250000,31.875000,...,41.250000,45.000000,46.500000,48.000000,49.500000,1.000000,0.794750,6.354250,0.665000,0.789000
max,100.000000,1.000000,17.500000,25.000000,31.000000,41.500000,49.000000,58.500000,65.000000,69.500000,...,74.000000,74.500000,74.500000,76.000000,76.000000,1.000000,0.860000,25.692000,0.800000,6.976000

In [ ]:
BD.head(5)

,Tejido,Replica,Especie,Trat,PESO,As,Ca,Cu,Fe,K,Mg,Mn,P,Pb,Zn,Biomasa
0,Aereo,2,V. farnesiana,C,<0.02,0.39,12900,5.90,180,15200,980,28.4,1380,0.53,11.6,5.66
1,Aereo,10,V. farnesiana,C,<0.02,0.30,7000,6.24,173,17200,1190,43.1,1340,0.72,10.5,4.23
2,Aereo,11,V. farnesiana,C,<0.02,0.23,9200,5.23,172,15700,1900,39.6,1880,0.41,12.2,4.55
3,Radical,2,V. farnesiana,C,<0.02,11.20,31100,154.00,8630,11600,5070,184.0,3290,13.70,71.5,3.56
4,Radical,10,V. farnesiana,C,<0.02,12.30,26400,175.50,8150,16300,4670,157.0,3120,14.40,64.4,2.74

In [ ]:
col_mico.head(5)

,Replica,Especie,Trat,Hifa,Vesícula,Arbúsculo,Espora,Endófito,Campos,% total
0,2,V. farnesiana,C,0,0,0,0,0,74,0.000000
1,5,R. communis,C,0,0,0,1,0,62,1.612903
2,8,R. communis,C,2,0,0,1,0,65,4.615385
3,10,V. farnesiana,C,1,0,0,0,0,61,1.639344
4,11,V. farnesiana,C,0,0,0,0,0,78,0.000000

In [ ]:
plantas.head(5)

,ID,Réplica,Especie,Tratamiento,Germinación,H1,H2,H3,H4,H5,...,H11,H12,H13,H14,H15,Supervivencia,Fv_am,Pi_am,Fv_pm,Pi_pm
0,7030SI1,1,V. farnesiana,C,1,6.0,5.5,6.5,7.0,9.0,...,16.0,16.0,19.0,19.0,19.5,1,0.759,2.836,0.738,1.233
1,7030SI2,2,V. farnesiana,C,0,4.0,7.0,9.5,12.0,16.0,...,45.0,45.0,45.5,46.0,59.0,1,0.841,22.869,0.699,1.044
2,7030SI3,3,V. farnesiana,C,0,4.0,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0.000,0.000,0.000,0.000
3,7030SI4,4,V. farnesiana,C,0,5.5,6.0,7.0,8.0,9.5,...,35.0,34.5,31.0,31.0,33.0,1,0.831,19.246,0.586,0.457
4,7030SI5,5,R. communis,C,1,4.0,5.5,5.5,6.5,7.5,...,15.0,15.5,17.5,18.0,18.5,1,0.792,4.561,0.521,0.119

#Vizualización del crecimiento promedio por tratamiento aplicado

In [49]:
plantas['id'] = plantas.index
plantas = pd.wide_to_long(plantas, 'H', i='id', j='week')

In [50]:
plantas.head()

,,Réplica,Germinación,Fv_am,Pi_am,Pi_pm,Tratamiento,ID,Supervivencia,Fv_pm,Especie,H
id,week,,,,,,,,,,,
0,1,1,1,0.759,2.836,1.233,C,7030SI1,1,0.738,V. farnesiana,6.0
1,1,2,0,0.841,22.869,1.044,C,7030SI2,1,0.699,V. farnesiana,4.0
2,1,3,0,0.000,0.000,0.000,C,7030SI3,0,0.000,V. farnesiana,4.0
3,1,4,0,0.831,19.246,0.457,C,7030SI4,1,0.586,V. farnesiana,5.5
4,1,5,1,0.792,4.561,0.119,C,7030SI5,1,0.521,R. communis,4.0

In [52]:
crecimiento = plantas[plantas['Supervivencia ']==1]

del crecimiento['ID']
del crecimiento['Réplica'] 
del crecimiento['Germinación']
del crecimiento['Supervivencia '] 
del crecimiento['Fv_am']
del crecimiento['Pi_am'] 
del crecimiento['Fv_pm']
del crecimiento['Pi_pm']

crecimiento['id'] = crecimiento.index

crecimiento = pd.wide_to_long(crecimiento, 'H', i='id', j='week')

crecimiento.head(10)

<ipython-input-52-f658a9cc9c9f>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crecimiento['id'] = crecimiento.index

        Tratamiento        Especie    H
id week
0  1              C  V. farnesiana  6.0
1  1              C  V. farnesiana  4.0
3  1              C  V. farnesiana  5.5
4  1              C    R. communis  4.0
7  1              C    R. communis  3.0
8  1              C    R. communis  1.5
9  1              C  V. farnesiana  2.5
10 1              C  V. farnesiana  3.0
11 1              C  V. farnesiana  8.0
12 1              C  V. farnesiana  4.5

In [ ]:
t_C = plantas[plantas['Tratamiento'] == 'C']
t_CI = plantas[plantas['Tratamiento'] == 'CI']
t_J = plantas[plantas['Tratamiento'] == 'J']
t_JI = plantas[plantas['Tratamiento'] == 'JI']
t_SN = plantas[plantas['Tratamiento'] == 'SN']

t_C = t_C.groupby('Especie')['H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8', 
                             'H9', 'H10', 'H11', 'H12', 'H13', 'H14', 'H15'].mean()

t_CI = t_CI.groupby('Especie')['H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8', 
                             'H9', 'H10', 'H11', 'H12', 'H13', 'H14', 'H15'].mean()

t_J = t_J.groupby('Especie')['H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8', 
                             'H9', 'H10', 'H11', 'H12', 'H13', 'H14', 'H15'].mean()                             

t_JI = t_JI.groupby('Especie')['H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8', 
                             'H9', 'H10', 'H11', 'H12', 'H13', 'H14', 'H15'].mean()

t_SN = t_SN.groupby('Especie')['H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8', 
                             'H9', 'H10', 'H11', 'H12', 'H13', 'H14', 'H15'].mean()

<ipython-input-35-5a7e3d34cce1>:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  t_C = t_C.groupby('Especie')['H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8',
<ipython-input-35-5a7e3d34cce1>:10: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  t_CI = t_CI.groupby('Especie')['H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8',
<ipython-input-35-5a7e3d34cce1>:13: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  t_J = t_J.groupby('Especie')['H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8',
<ipython-input-35-5a7e3d34cce1>:16: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  t_JI = t_JI.groupby('Especie')['H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8',
<ipython-input-35-5a7e3d34cce1>:19: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  t_SN = t_SN.groupby('Especie')['H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8',